<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aistarterfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8401da89-6ce7-4e33-9710-cffff588afc3/resourceGroups/aistarterrg/providers/Microsoft.Web/sites/aistarterfunction</ResourceId>
    <UserName>$aistarterfunction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://aistarterfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>